body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #469FBC;
    color: #ffffff;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 100vh;
}